div {
  box-sizing: border-box;
}

.grid-item {
  margin: 30px;
  background: white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  font-weight: 300;
}

.grid-item .photobox {
  position: relative;
  width: 100%;
  height: 200px;
  background-color: #ddd;
  border-radius: 0;
  background-size: cover;
}

.grid-item .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.03);
}

.grid-item .button-row {
  position: absolute;
  width: 100%;
  right: 0px;
  bottom: 0px;
  text-align: right;
}

.grid-item .link {
  display: inline-block;
  cursor: pointer;
  padding: 5px 15px;
  margin: 0 10px 10px 0px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  color: white;
  transition: all 0.3s linear;
  font-size: 12px;
}
.grid-item .link:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.grid-item .text {
  position: relative;
  height: 150px;
  padding: 20px 15px 10px 20px;
}

.grid-item h2 {
  margin: 0 0 10px 0;
  font-size: 21px;
  font-weight: 600;
}

.grid-item .desc {
  color: #aaa;
  font-size: 12px;
  line-height: 1.4;
}
