{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-flow"
  ],
  "plugins": [
    "babel-plugin-emotion",
    "babel-plugin-macros",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-export-default-from",
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": ["babel-plugin-require-context-hook"]
    }
  },
  "overrides": [
    {
      "test": "./examples/vue-kitchen-sink",
      "presets": [
        "@babel/preset-env",
        "babel-preset-vue"
      ]
    }
  ]
}
