dist
lib/**/dll
build
coverage
node_modules
docs/public
storybook-static
built-storybooks
lib/cli/test
lib/codemod/src/transforms/__testfixtures__
scripts/storage
*.bundle.js
*.js.map
*.d.ts

!.remarkrc.js
!.babelrc.js
!.eslintrc.js
!.eslintrc-markdown.js
!.jest.config.js
!.storybook

