dist
lib/**/dll
build
coverage
node_modules
docs/public
storybook-static
built-storybooks

*.bundle.js
*.js.map
*.d.ts

.yarn
!.remarkrc.js
!.babelrc.js
.eslintrc.js
!.jest.config.js
!.storybook
examples/expo-example/metro.config.js
storybook.requires.js
jest.config.js
app/react-native/scripts/mocks
addons/ondevice-knobs