node_modules
*.log
.idea
.vscode
npm-shrinkwrap.json
dist
.tern-port
*.DS_Store
.cache
junit.xml
coverage/
*.lerna_backup
build
packages/examples/automated-*
/**/LICENSE
docs/public
packs/*.tgz
package-lock.json
.nvmrc
storybook-static
integration/__image_snapshots__/__diff_output__
.jest-test-results.json

