node_modules
*.log
.idea
*.iml
*.sw*
npm-shrinkwrap.json
dist
.tern-port
*.DS_Store
.cache
junit.xml
coverage/
*.lerna_backup
build
/**/LICENSE
docs/public
packs/*.tgz
package-lock.json
storybook-static
integration/__image_snapshots__/__diff_output__
.jest-test-results.json
lib/*.jar
lib/**/dll
.expo/packager-info.json
scripts/storage
htpasswd
/false
storybook-out
/addons/docs/common/config-*
built-storybooks
.pnpm-store/
.eslintcache
examples/expo-example/.maestro/output/*
!examples/expo-example/.maestro/output/screenshots/
!examples/expo-example/.maestro/output/screenshots/**

examples/expo-example/components/PerfTesting/*.stories.tsx
examples/expo-example/.certs/
examples/expo-example/android
examples/expo-example/ios
