#docs-container {
  border-top: 1px solid #F4F4F4;
  border-bottom: 1px solid #F4F4F4;
  margin: 10px 0;
  padding: 0;
}

#docs-container .nav-dropdown {
  display: none;
}

#docs-container .nav-dropdown select {
  width: 100%;
}

#docs-container .nav-dropdown div {
  margin: 0 0 5px;
}

@media only screen and (max-width: 998px) {
  #docs-container .nav {
    display: none;
  }

  #docs-container .content {
    border-left: none;
    margin: 15px 0;
    padding: 0;
  }

  #docs-container .nav-dropdown {
    display: block;
  }
}
