.used-by-wrapper  {
  margin-bottom: 60px;
}

.used-by {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

.used-by-bg {
  position: absolute;
  top: -30px;
  left: -30px;
  right: -30px;
  bottom: -30px;
}

.used-by-bg svg {
  height: 100%;
  width: 100%;
}

.used-by-contents {
  padding: 40px 20px;
  position: relative;
  z-index: 1;
}

.used-by-title {
  text-align: center;
  margin: 0 0 30px 0;
  opacity: 0.5;
  color: #468c07;
}


.used-by-users {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.used-by-user {
  /*flex: 1;*/
  margin: 0 15px 30px;
  max-width: 100px;
  filter: grayscale(100%);
  opacity: 0.8;
  transition: filter 0.3s ease-out, opacity 0.3s ease-out;
}
.used-by-user:hover {
  transition: none;
  filter: none;
  opacity: 1;
}
.used-by-user-image {
  display: block;
  width: 100%;
}

.used-by-more-examples {
  text-align: center;
  display: block;
  margin-top: 50px;
  font-size: 2em;
}

.used-by-more-examples a,
.used-by-more-examples a:visited,
.used-by-more-examples a:hover,
.used-by-more-examples a:active,
.used-by-more-examples a:focus {
  background-color: #e4004f;
  color: #fff;
  padding: 20px;
  border-radius: 6px;
}
