class {
    onCreate(input) {
        this.click = input.click;
    }

    handleClick() {
        this.input.click();
    }
}

<div>
  <input type="button" on-click('handleClick') value="Log action!" />
</div>
