#header {
  margin: 50px 0;
}

#header .col-xs-12 {
  padding: 0;
}

#header-title img {
  width: 125px;
}

#header-links a {
  padding-left: 15px;
  text-transform: uppercase;
}

#header-links a.selected {
  font-weight: 600;
}


@media only screen and (max-width: 540px) {
  #header {
    margin: 50px 0 20px;
  }

  #header .pull-right {
    float: none !important;
    clear: both !important;
    text-align: center;
  }

  #header .pull-left {
    float: none !important;
    clear: both !important;
  }

  #header-title {
    text-align: center;
    margin-bottom: 12px;
  }

  #header-title img {
    width: 40%;
  }

  #header a {
    font-size: 11px !important;
  }
}
