#main-links {
  margin: 40px auto 30px;
}

#main-links hr {
  margin: 50px auto 0;
}

.main-links-container {
  margin: auto;
}

#main-links h2 {
  text-align: center;
}

#main-links pre {
  background-color: #444;
  color: #DDD;
  padding: 15px 20px;
  line-height: 22px;
  border: 0;
  border-radius: 0;
}

.algolia-autocomplete {
  display: block !important;
}

.try-now {
  max-width: 450px;
  margin: 40px auto;
}

@media only screen and (max-width: 700px) {
  #main-links .col-xs-6 {
    margin: auto !important;
    float: none !important;
    clear: both;
    width: 55% !important;
  }

  #main-links {
    margin: 30px auto 20px;
  }

  #main-links h2 {
    font-size: 22px;
  }

  #main-links pre {
    padding: 13px 28px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 600px) {
  #main-links .col-xs-6 {
    width: 65% !important;
  }

  #main-links {
    margin: 24px auto 16px;
  }

  #main-links hr {
    margin: 35px auto 0;
  }

  #main-links h2 {
    font-size: 20px;
  }

  #main-links pre {
    padding: 13px 20px;
    font-size: 11px;
  }
}

@media only screen and (max-width: 480px) {
  #main-links .col-xs-6 {
    width: 75% !important;
  }

  #main-links {
    margin: 20px auto 13px;
  }

  #main-links pre {
    padding: 13px 20px;
    line-height: 18px;
  }
}
