class {
    onCreate(input) {
        this.click = input.click;
    }

    handleClick() {
        this.input.click();
    }
}

style {
  .example-button {
    font-size:1em;
    padding:0.5em;
  }
}

<button.example-button on-click('handleClick')>
  Log action!
</button>