@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800';

body, div, p, ul, li, a {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

a,
a:visited,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  color: #000;
}

a:hover {
  opacity: 0.7;
}
