#heading {
  text-align: center;
  padding: 85px 0 50px;
}

.sb-title {
  font-weight: 800;
  width: 500px;
}

.sb-tagline {
  font-weight: 100;
  font-size: 29px;
  line-height: 42px;
}

.heart {
  color: red;
}

@media only screen and (max-width: 980px) {
  #heading {
    padding: 45px 0 25px;
  }

  .sb-title {
    width: 400px;
  }

  .sb-tagline {
    font-size: 24px;
    line-height: 33px;
  }
}

@media only screen and (max-width: 870px) {
  #heading {
    padding: 35px 0 15px;
  }

  .sb-title {
    width: 400px;
  }

  .sb-tagline {
    font-size: 20px;
    line-height: 29px;
  }
}

@media only screen and (max-width: 540px) {
  #heading {
    padding: 15px 0 15px;
  }

  .sb-title {
    width: 80%;
  }

  .sb-tagline {
    ffont-size: 16px;
    line-height: 26px;
  }
}
