#footer {
  margin: 25px 0
}

#footer a {
  color: #1E88E5;
}

#footer .logos {
  margin: auto;
  clear: both;
}

#footer .logos img {
  margin: 0 10px;
  height: 50px;
}

#footer #copyright p {
  text-align: center;
  font-size: 14px;
  margin: 15px 0 10px;
}

@media only screen and (max-width: 998px) {
  #footer {
    margin: 25px 0
  }

  #footer .logos img {
    margin: 0 8px;
    height: 40px;
  }

  #footer #copyright p {
    font-size: 13px;
    margin: 13px 0 9px;
  }
}
