#docs-content .content {
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
  font-size: 17px;
  line-height: 25px;
  margin: 40px 0;
  max-width: 700px;
  -webkit-font-smoothing: antialiased;
}

#docs-content .title {
  font-size: 25px;
  color: rgb(0, 0, 0);
  margin-bottom: 0;
  line-height: 28px;
  font-weight: 800;
}

#docs-content a.edit-link {
  color: #E25E5E !important;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
}

#docs-content .markdown div,
#docs-content .markdown p,
#docs-content .markdown li,
#docs-content .markdown a {
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #333;
}

#docs-content .markdown img {
  max-width: 100%;
}

#docs-content .markdown h2 {
  font-size: 20px;
  margin: 30px 0 10px 0;
}

#docs-content .markdown h3 {
  font-size: 18px;
  margin: 30px 0 10px 0;
  font-weight: 800;
}

#docs-content .markdown a,
#docs-content .markdown a:visited,
#docs-content .markdown a:hover,
#docs-content .markdown a:active {
  text-decoration: none;
  color: #1E88E5;
}

#docs-content .markdown a:hover {
  text-decoration: underline;
}

#docs-content .markdown blockquote {
  padding: 10px 20px;
  margin: 10px 0;
  font-size: 16px;
  border-left: 5px solid #B2CDA9;
  color: #444;
}

#docs-content .markdown blockquote p {
  margin: 0px;
}

#docs-content .markdown code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  padding: 2px 5px;
  margin: 0;
  font-size: 85%;
  background-color: rgba(0,0,0,0.04);
  border-radius: 2px;
  color: #333;
}

#docs-content .markdown pre {
  border: 0;
  border-radius: 0;
  padding: 0;
}

#docs-content .markdown pre code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 14px;
  line-height: 20px;
  background-color: #f7f7f7;
  padding: 10px 12px;
}

#docs-content .markdown .header-anchor {
  display: none;
  line-height: 1px;
  font-size: 10px;
}

#docs-content .markdown h1:hover .header-anchor,
#docs-content .markdown h2:hover .header-anchor,
#docs-content .markdown h3:hover .header-anchor,
#docs-content .markdown h4:hover .header-anchor,
#docs-content .markdown h5:hover .header-anchor,
#docs-content .markdown h6:hover .header-anchor {
  display: inline;
}
