#platform {
  text-align: center;
  margin: 10px 0 30px;
}

#platform hr {
  margin: 45px auto 0;
}

.built-for {
  font-size: 20px;
  font-weight: 100;
}

.platforms, .platforms a {
  font-size: 20px;
  font-weight: 600;
}

@media only screen and (max-width: 540px) {
  #platform {
    margin: 10px 0 20px;
  }

  #platform hr {
    margin: 30px auto 0;
  }

  .built-for {
    font-size: 19px;
  }

  .platforms, .platforms a {
    font-size: 19px;
  }
}