#featured {
  margin: 25px auto 35px;
  max-width: 600px;
}

#featured hr {
  margin: 50px auto 0;
}

#featured h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 35px;
}

#featured .reponame {
  font-size: 14px;
}

#featured a.reponame {
  color: #6f5151;
}

.ft-logo {
  width: 45px;
  height: 45px;
}

.ft-sbooks {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.ft-sbooks .desc {
  padding-left: 0 !important;
}

.ft-sbooks p {
  font-size: 13px;
  margin: 0;
  padding: 0;
}

.ft-sbooks a {
  font-size: 13px;
  color: #8f8fd6;
}

@media only screen and (max-width: 998px) {
  #featured {
    margin: 15px auto 25px;
  }

  #featured hr {
    margin: 20px auto 0;
  }

  #featured .col-xs-6 {
    width: 100% !important;
  }

  .ft-sbooks .desc {
    text-align: center;
    padding-left: 15px !important;
    padding-bottom: 20px;
  }

  .ft-sbooks p {
    text-align: center;
  }

  .ft-sbooks a {
    text-align: center;
  }
}
