<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="storybook-version" content="<%= htmlWebpackPlugin.options.data.version %>">
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <title>Storybook</title>
    <%= htmlWebpackPlugin.options.data.managerHead %>

</head>
<body style="margin: 0;">
    <div id="root"></div>
    <% if (htmlWebpackPlugin.options.data.options) { %>
        <script>
            window.storybookOptions = <%= htmlWebpackPlugin.options.data.options %>;
        </script>
    <% } %>
</body>
</html>
