<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="storybook-version" content="<%= htmlWebpackPlugin.options.data.version %>">
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <title>Storybook</title>
    <link rel="shortcut icon" href="favicon.ico?v=1" />
    <%= htmlWebpackPlugin.options.data.managerHead %>

</head>
<body style="margin: 0;">
    <style>
        html, body {
            overflow: hidden;
            height: 100%;
            width: 100%;
        }
    </style>
    <div id="root"></div>
</body>
</html>
