/* https://github.com/markdowncss/modest */

@media print {
  .storybook-story-info-body *,
  .storybook-story-info-body *:before,
  .storybook-story-info-body *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  .storybook-story-info-body a,
  .storybook-story-info-body a:visited {
    text-decoration: underline;
  }

  .storybook-story-info-body a[href]:after {
    content: " (" attr(href) ")";
  }

  .storybook-story-info-body abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .storybook-story-info-body a[href^="#"]:after,
  .storybook-story-info-body a[href^="javascript:"]:after {
    content: "";
  }

  .storybook-story-info-body pre,
  .storybook-story-info-body blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  .storybook-story-info-body thead {
    display: table-header-group;
  }

  .storybook-story-info-body tr,
  .storybook-story-info-body img {
    page-break-inside: avoid;
  }

  .storybook-story-info-body img {
    max-width: 100% !important;
  }

  .storybook-story-info-body p,
  .storybook-story-info-body h2,
  .storybook-story-info-body h3 {
    orphans: 3;
    widows: 3;
  }

  .storybook-story-info-body h2,
  .storybook-story-info-body h3 {
    page-break-after: avoid;
  }
}

.storybook-story-info-body pre,
.storybook-story-info-body code {
  font-size: .88em;
  font-family: Menlo, Monaco, "Courier New", monospace;
}

.storybook-story-info-body pre {
  padding: .5rem;
  line-height: 1.5;
  overflow-x: scroll;
}

.storybook-story-info-body a,
.storybook-story-info-body a:visited {
  color: #3498db;
}

.storybook-story-info-body a:hover,
.storybook-story-info-body a:focus,
.storybook-story-info-body a:active {
  color: #2980b9;
}

.storybook-story-info-body .modest-no-decoration {
  text-decoration: none;
}

.storybook-story-info-page {
  font-size: 12px;
}

@media screen and (min-width: 32rem) and (max-width: 48rem) {
  .storybook-story-info-page {
    font-size: 15px;
  }
}

@media screen and (min-width: 48rem) {
  .storybook-story-info-page {
    font-size: 16px;
  }
}

.storybook-story-info-body {
  line-height: 1.85;
}

.storybook-story-info-body p,
.storybook-story-info-body .modest-p {
  font-size: 1rem;
  margin-bottom: 1.3rem;
}

.storybook-story-info-body h1,
.storybook-story-info-body .modest-h1,
.storybook-story-info-body h2,
.storybook-story-info-body .modest-h2,
.storybook-story-info-body h3,
.storybook-story-info-body .modest-h3,
.storybook-story-info-body h4,
.storybook-story-info-body .modest-h4 {
  margin: 1.414rem 0 .5rem;
  font-weight: inherit;
  line-height: 1.42;
}

.storybook-story-info-body h1,
.storybook-story-info-body .modest-h1 {
  margin-top: 0;
  font-size: 3.998rem;
}

.storybook-story-info-body h2,
.storybook-story-info-body .modest-h2 {
  font-size: 2.827rem;
}

.storybook-story-info-body h3,
.storybook-story-info-body .modest-h3 {
  font-size: 1.999rem;
}

.storybook-story-info-body h4,
.storybook-story-info-body .modest-h4 {
  font-size: 1.414rem;
}

.storybook-story-info-body h5,
.storybook-story-info-body .modest-h5 {
  font-size: 1.121rem;
}

.storybook-story-info-body h6,
.storybook-story-info-body .modest-h6 {
  font-size: .88rem;
}

.storybook-story-info-body small,
.storybook-story-info-body .modest-small {
  font-size: .707em;
}

/* https://github.com/mrmrs/fluidity */

.storybook-story-info-body img,
.storybook-story-info-body canvas,
.storybook-story-info-body iframe,
.storybook-story-info-body video,
.storybook-story-info-body svg,
.storybook-story-info-body select,
.storybook-story-info-body textarea {
  max-width: 100%;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);
@import url(http://fonts.googleapis.com/css?family=Arimo:700,700italic);

.storybook-story-info-page {
  font-size: 18px;
  max-width: 100%;
}

.storybook-story-info-body {
  color: #444;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  margin: 0 auto;
  max-width: 48rem;
  line-height: 1.45;
  padding: .25rem;
}

.storybook-story-info-body h1,
.storybook-story-info-body h2,
.storybook-story-info-body h3,
.storybook-story-info-body h4,
.storybook-story-info-body h5,
.storybook-story-info-body h6 {
  font-family: Arimo, Helvetica, sans-serif;
}

.storybook-story-info-body h1,
.storybook-story-info-body h2,
.storybook-story-info-body h3 {
  border-bottom: 2px solid #fafafa;
  margin-bottom: 1.15rem;
  padding-bottom: .5rem;
}

.storybook-story-info-body h1 {
  text-align: center;
}

.storybook-story-info-body blockquote {
  border-left: 8px solid #fafafa;
  padding: 1rem;
}

.storybook-story-info-body pre,
.storybook-story-info-body code {
  background-color: #fafafa;
}

.storybook-story-info-body table {
  width: 100%;
}

.storybook-story-info-body th {
  text-align: left;
}
